/*
1. Variables
2. Base CSS
*/

/*==============
  1. Variables
==============*/

:root {
    --main-bg-color: #eeeeee;
    --main-max-width: 90%;
    --margin-between-elements: 10px 0;
    --grid-color: #ffff00;
}

/*==============
  2. Base CSS
==============*/

body {
    background: var(--main-bg-color);
    font-family: calibri;
}
main {
    max-width: var(--main-max-width);
    margin: 20px auto;
    text-align: center;
}
img {
    max-width: 100%;
    max-height: 85vh;
    display: block;
}
select:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
